html, body {
  margin: 0;
  padding: 0;
  background: rgb(241, 241, 241);
}

canvas {
  display: block;
}

.active {
  background-color: rgb(174, 217, 231);
  border: 2px solid rgb(35, 59, 68);
}

.paginator {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  gap: 5px;
}

#sketch-container {
  margin: 20px;
}