html, body {
  margin: 0;
  padding: 0;
  background: rgb(241, 241, 241);
}

canvas {
  display: block;
}
#sketch-container {
  margin: 20px;
}

.paginator {
  --text: #363636;
  margin: 20px;
  display: inline-flex;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  position: absolute;
  bottom: 0px;
}

.paginator button {
  appearance: none;
  background-color: #f5f2f2;
  border: none;
  padding: .5em .75em;
  font-size: 14px;
  color: var(--text);
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  border-right: 1px solid #ccc;
}

.paginator button:last-child {
  border-right: none;
}

.paginator button:hover {
  background-color: #f0f8ff;
  color: var(--text);
}

.paginator .number-btn.active {
  background-color: var(--text);
  color: white;
  font-weight: bold;
}

.paginator .prev-btn,
.paginator .next-btn {
  font-weight: bold;
  color: var(--text);
}

.paginator .prev-btn:hover,
.paginator .next-btn:hover {
  background-color: #bdc9d6;
  color: #0056b3;
}
